# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Windows system files and symbolic links
AppData/
NTUSER.DAT*
ntuser.dat*
ntuser.ini
Contacts/
Documents/
Downloads/
Dropbox/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
Pictures/
"Saved Games/"
Searches/
Videos/
app/
donationpage/
expo-mono.code-workspace
expo-projects.code-workspace
index.js
next.config.js
package-lock.json
package.json
pages/
previous_SH_code/
printer.pdf
quoka.txt
skatehubba-profile/
skatehubba.txt
skatehubbachallenge/
ssh_connect.ps1
tsconfig.json
SkateHubbaPro/
Skatehubba_site/
"New folder/"
OneDrive/
CUsersLowAnskatehubba-mock)/

# Any symbolic links to system directories
../../*

# Firebase
.firebaserc
firebase-debug.log